name: archive

on:
  workflow_dispatch:
    inputs:
      archive_date:
        type: text
  # schedule:
  #   - cron: '0 17 * * 0'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v4
      - name: Run the Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v2
      - name: Archive
        env:
          AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_KEY: ${{ secrets.AWS_SECRET_KEY }}
        run: |
          nix build .
          echo "NIX SETUP COMPLETE"
          ./result/bin/archive "${{ inputs.archive_date }}"
